body {
    color: blue;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: chocolate;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(146, 76, 76);
    background: #DDD;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;
}
#footer{
    width: 90%;
    padding: 2em;
    text-align: left;
    border: 1px solid #240bc3;
    background: #DDD;
    margin: 0 auto;
}